*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #cdd4f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    background-color: aliceblue;
    height: 130px;
    width: 2000px;
    padding-bottom: 40px;
}

main{
    background-color: aliceblue;
    text-align: center;
    height: 70vh;
    width: 190vh;
    margin-top: 100px;
    border-radius: 15px;
    
}


.flex-containter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid black;
}
.items{
    text-align: start;
    width: calc(33.33% - 20px);
    
}

