*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #cdd4f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    background-color: white;
    height: 130px;
    width: 2000px;
    padding-bottom: 40px;
}

main{
    background-color: white;
    text-align: center;
    height: 70vh;
    width: 170vh;
    margin-top: 100px;
    border-radius: 15px;
    
}
section{
    
    margin-bottom: 30px;
}


.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    gap: 20px;
    border: 1px solid black;
}
.items{
    text-align: start;
    width: calc(30% - 20px); 
    height: 220px;
    border: 1px solid black;   
}

.items h3{
    margin: 5px 0;
}

.items img {
    width: 35px;
    border-radius: 50%; 
    background-color: blue; 
    
}
